<%- include('../../parts/head', {bot, user, path}) %>
<title>Certification | Dis LIST</title>
<div class="container px-3 mt-2 pt-5">
    <div class="container px-3 content is-widescreen pt-5">
        <div class="bg-vote-vcodes pt-5">
            <h3 class="has-text-white is-size-3" style="margin-bottom: 10px;"> </h3>
            <p>&raquo&raquo Certificate Requirements</p>
            <p>
                &raquo This page is under maintenance!
                <br>&raquo Come back soon!
               
                </p>
            <br>
        </div>
    </div>
    <center>
    <button onclick="location.href='/bots/'" class="btn btn-vcodes"><i class="fad fa-check"></i>&nbsp;OK</button>
    </center> 
</div>

<%- include('../../parts/foot') %>

<%/*  <button onclick="location.href='/certification/apply'" */%>